<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Page</title>
</head>
<body>
    <h1>This is the home page</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore voluptas iure hic animi sunt eos iusto, aspernatur iste? Error dolore consectetur repudiandae eligendi quibusdam voluptates asperiores, ducimus doloribus pariatur quam non amet eos facilis qui alias, ad cupiditate consequuntur unde nam cumque illo eveniet autem!</p>
    <button>click me</button>
</body>
</html>